**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/.idea
**/Dockerfile*
**/docker-compose*
**/.dockerignore
**/tests
**/*.user
**/*.md
**/logs
**/TestResults
**/.env
**/appsettings.Development.json
**/SmartSalon
